# Discord bot token
TOKEN=''

# Points to the cog directory, shouldn't have to touch this
COG_DIR='cogs'

# Discord ID where you are testing the bot
DEV_DISCORD_ID=1290894138547376238

# Superuser ID
OWNER_ID=498569521963991058

# flask port
PORT=49842
